.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header-row h1 {
	margin: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: left;
}

th,
td {
	padding: 8px;
	border-bottom: 0.5px solid var(--color-border);
}

td.winner {
	background-color: rgba(144, 238, 144, 0.5);
	font-weight: bold;
}

td.loser {
	background-color: rgba(240, 128, 128, 0.5);
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}
